.main {
    /* margin: 5% 10% 0 10%; */
    display: flex;
    flex-wrap: wrap;
    padding: 6% 10% 6% 10%;
    /* background-color: rgb(242, 242, 242); */
}

.col1s {
    width: 38%;
    /* background-color: antiquewhite; */
    margin: 4% 1% 0 6%;
    /* border-right: solid 2px black; */
}

.col2s {
    width: 46%;
    /* background-color: lightgreen; */
    margin: 0 0 0 1%;
    padding: 0 0 0 3%;
    border-left: solid 3px rgb(148, 148, 148);

}

.log-view {
    width: 99%;
    margin: 3% 0 0 0;
}

.c2r2 {
    margin: 10% 0 0 0;
}

.hrc2 {
    margin: 10% 0 0 0;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 102px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.button2 {
    background-color: #42df00;
    color: black;
}


/* Blue */
.button3 {
    background-color: rgb(215, 54, 54);
}

/* Red */
.button4 {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.button5 {
    background-color: #555555;
}

/* Black */

.log-key {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.val-key {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0 0 4%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* .get-div {
    background-color: white;
    border: 1.5px solid #ccc;
    padding: 0px 0 0 15px;
} */

.get-table {
    border: 1.5px solid #ccc;
    font-size: 1.2rem;
    background-color: white;
}

.row-get {
    border-right: 1.5px solid #ccc;
    width: 1rem;
    padding: 0 1rem 0 10px;

}

.row-get2 {
    /* border-right: 1.5px solid #ccc; */
    padding: 0 0 0 10px;
    width: 100%;
}

.col21s {
    background-color: #00abb1;
    padding: 2% 4% 2% 4%;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.col22s {
    background-color: #00abb1;
    padding: 0% 4% 2% 4%;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.delbt {
    padding: 1% 0 0 0;
}